/* 
Breakpoints:
1. high resolution pc: (min-width: 1200px)
2. tablet pro & low resolution pc: (min-width: 992px) and (max-width: 1199px)
3. tablet: (min-width: 768px) and (max-width: 991px)
4. tablet mini: (min-width: 576px) and (max-width: 767px)
5. phone: (min-width: 390px) and (max-width: 575px)
6. low resolution phone: (max-width: 389px)
*/

/* 1. BASE */
/* high resolution pc */
@media (min-width: 1200px) {
}

/* phone & all tablets & low resolution pc */
@media (max-width: 1199px) {
   .disclaimer {
      padding: 0px 32px;
   }
}

/* phone & tablet mini & tablet */
@media (max-width: 991px) {
   .backcom-amount__img {
      width: 90%;
   }

   .disclaimer {
      padding: 0 12px;
   }

   .register-video {
      width: 100%;
      height: 408px;
   }

   .rebate-img {
      width: 45%;
   }

   .rebate-img:last-child {
      margin-top: 0;
   }

   .regiter-img {
      width: 100%;
   }
}

/* phone & tablet mini */
@media (max-width: 767px) {
   /* .header-logo__img.mobile {
      display: block;
      height: 52px;
   }

   .header-logo__img.desktop {
      display: none;
   } */

   .footer {
      padding-top: 64px;
      padding-bottom: 32px;
   }

   .register-video {
      height: 315px;
   }

   .disclaimer {
      padding: 0;
   }

   .disclaimer > * {
      font-size: 12px;
      line-height: 1.42;
   }
}

@media (max-width: 575px) {
   .header__container {
      height: 56px;
   }

   .header-logo__img {
      height: 36px;
   }

   .header__btn {
      padding: 8px 16px;
   }

   .banner.section-container {
      padding-top: 64px;
   }

   .backcom-amount__img {
      width: 100%;
      padding: 24px 12px;
   }

   .open-trade-account {
      font-size: 18px;
   }

   .footer {
      padding-top: 32px;
      padding-bottom: 24px;
   }

   .rebate-img {
      width: 80%;
   }

   .disclaimer > * {
      line-height: 1.4;
   }

   .register-video {
      height: 215px;
   }

   .rebate-img {
      margin-top: 0;
   }

   .rebate-img:first-child {
      margin-top: 32px;
   }
}

/* low resolution phone */
@media (max-width: 389px) {
   .header,
   .footer {
      padding-left: 8px;
      padding-right: 8px;
   }
}

/* 2. CUSTOM */
/* tablet pro & low resolution pc */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablet mini */
@media (min-width: 576px) and (max-width: 767px) {
}

/* phone */
@media (min-width: 390px) and (max-width: 575px) {
}
