/* Header: begin */
.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   width: 100%;
   background-color: #fff;
   box-shadow: 0 2px 8px rgba(26, 24, 84, 0.03),
      0 8px 20px rgba(26, 24, 84, 0.04), 0 36px 90px rgba(26, 24, 84, 0.08);
   -webkit-box-shadow: 0 2px 8px rgba(26, 24, 84, 0.03),
      0 8px 20px rgba(26, 24, 84, 0.04), 0 36px 90px rgba(26, 24, 84, 0.08);
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   height: 72px;
   color: #fff;
}

.header-logo {
   display: flex;
   align-items: center;
}

.header-logo__img {
   height: 44px;
}

.header-logo__img.mobile {
   display: none;
}

.header__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffcf01;
   color: #000;
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
   -webkit-text-decoration: none;
   user-select: none;
   cursor: pointer;
   border-radius: 4px;
   padding: 12px 24px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease,
      -webkit-box-shadow 0.3s ease;
}

.header__btn:hover {
   background-color: #fbe169;
}

/* Header: end */
.rebate-box {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background: rgb(255, 255, 255);
   box-shadow: rgba(141, 145, 148, 0.12) 0px 2px 6px 0px,
      rgb(63, 31, 132) 0px 2px 0px 0px inset;
}

.rebate-img {
   width: 30%;
   margin-top: 24px;
   margin-bottom: 24px;
   box-shadow: rgba(108, 111, 113, 0.16) 4px 6px 8px 0px;
}

.banner.section-container {
   padding-top: 80px;
}

.invite-code {
   color: red;
}

.how-it-works__list {
   padding-left: 32px;
}

.how-it-works li {
   padding-top: 16px;
   list-style: disc;
}

.how-it-works__link {
   color: rgb(81, 134, 233);
}

.backcom-amount__box {
   display: flex;
   justify-content: center;
   background: rgb(255, 255, 255);
   box-shadow: rgba(141, 145, 148, 0.12) 0px 2px 6px 0px,
      rgb(63, 31, 132) 0px 2px 0px 0px inset;
   margin-top: 24px;
}

.backcom-amount__img {
   width: 76%;
   padding: 24px;
}

.regiter-img {
   width: 58%;
   box-shadow: rgba(141, 145, 148, 0.16) 0px 2px 6px 0px;
}

.register-video {
   display: block;
   margin: 32px 0;
   width: 840px;
   max-width: none;
   height: 472px;
}

#register li {
   padding-top: 16px;
}

#register .register-sublist {
   padding-left: 20px;
}

#register .register-sublist > li {
   padding-top: 10px;
   list-style: disc;
}

.change-ib-png {
   max-width: 100%;
   margin-top: 8px;
   margin-bottom: -32px;
}

.already-have-an-account__contact {
   display: flex;
   justify-content: start;
   align-items: center;
   margin-top: 72px;
}

.already-have-an-account__logo {
   margin-right: 64px;
}

.already-have-an-account__link {
   display: flex;
   align-items: center;
   font-size: 24px;
   color: #000;
   background-color: #ffcf03;
   padding: 10px;
   text-decoration: none;
   margin-right: 12px;
   border-radius: 100px;
   transition: background ease-in 0.2s;
}

.already-have-an-account__link:hover {
   background-color: rgb(255, 218, 57);
}

.contact__icon {
   background-color: #ffcf03;
   padding: 6px;
   border-radius: 100px;
}

.contact__link {
   text-decoration: none;
   color: rgb(81, 134, 233);
}

.contact__link:hover,
.how-it-works__link:hover {
   text-decoration: underline;
   color: rgb(44, 110, 233);
}

.disclaimer {
   font-size: 12px;
   font-weight: 300;
   font-style: italic;
   color: #8d8c8c;
   word-spacing: -1px;
   text-align: center;
   padding: 0 32px;
   margin-top: 48px;
}
