/* Header: begin */
.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   width: 100%;
   background: linear-gradient(270deg, #3f0047, #1d0f5a);
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   height: var(--header-height);
   padding: 0 48px;
   color: #fff;
}

.header-logo {
   display: flex;
   align-items: center;
}

.header-logo__img {
   display: block;
   height: 148px;
   margin-top: 4px;
   margin-left: -20px;
}

.header a {
   font-size: 14px;
   color: #fff;
   text-decoration: none;
}

/* Header: end */
.rebate-box {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background: rgb(255, 255, 255);
   box-shadow: rgba(141, 145, 148, 0.12) 0px 2px 6px 0px,
      rgb(63, 31, 132) 0px 2px 0px 0px inset;
}

.rebate-img {
   width: 30%;
   margin-top: 24px;
   margin-bottom: 24px;
   box-shadow: rgba(141, 145, 148, 0.16) 0px 0px 4px 0px;
}

.banner.section-container {
   padding-top: 48px;
}

.invite-code {
   color: red;
}

.how-it-works__list {
   padding-left: 32px;
}

.how-it-works li {
   padding-top: 16px;
   list-style: disc;
}

.regiter-img {
   width: 58%;
   box-shadow: rgba(141, 145, 148, 0.16) 0px 2px 6px 0px;
}

.register-video {
   display: block;
   margin: 32px 0;
   width: 840px;
   height: 472px;
}

.header__btn:hover {
   color: #ffcf03;
}

#register li {
   padding-top: 16px;
}

#register .register-sublist {
   padding-left: 20px;
}

#register .register-sublist > li {
   padding-top: 10px;
   list-style: disc;
}

.already-have-an-account__contact {
   display: flex;
   justify-content: start;
   align-items: center;
   margin-top: 72px;
}

.already-have-an-account__link {
   display: flex;
   align-items: center;
   font-size: 18px;
   color: #000;
   background-color: #ffcf03;
   padding: 8px;
   text-decoration: none;
   margin-right: 8px;
   border-radius: 100px;
   transition: background ease-in 0.2s;
}

.already-have-an-account__link:hover {
   background-color: rgb(255, 218, 57);
}

.contact__link {
   text-decoration: none;
   color: cornflowerblue;
}

.disclaimer {
   font-size: 12px;
   font-weight: 300;
   font-style: italic;
   color: #8d8c8c;
   word-spacing: -1px;
   text-align: center;
   padding: 0 32px;
   margin-top: 48px;
}
